@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    margin: 0;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

.control {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #0ea5e9;
    font-size: 2.5rem;
    padding: 10px;
    color: #eff6ff;
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

.manager {
    flex: 1;
    background-color: #dbeafe;
    overflow-y: auto;
}

.proj-title {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;
}

.add-project {
    padding-left: 12px;
    margin: 5px;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    width: fit-content;
}

.add-project:hover {
    transform: scale(1.2);
    transform-origin: left;
    cursor: pointer;
}

.add-proj-task {
    padding-left: 20px;
    margin: 5px;
    font-size: 1rem;
    font-family: 'Dancing Script', cursive;
    width: fit-content;
}

.add-proj-task:hover {
    transform: scale(1.2);
    transform-origin: left;
    cursor: pointer;
}

.projects {
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #3b82f6;
}

.footer {
    background-color: #bfdbfe;
    padding: 10px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e0f2fe;
}

.day, .week, .month {
    flex: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    background-color: #bfdbfe;
    box-shadow: 0px 0px 5px 0px #3b82f6;
}

.day:hover, .week:hover, .month:hover {
    box-shadow: 0px 0px 10px 0px #3b82f6;
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 15px;
}

.sort {
    background-image: url(../src/Resources/sort_black_24dp.svg);
    width: 24px;
    height: 24px;
    margin: 10px;
}

select#sort {
    display: none;
}

.sort:hover select#sort {
    display: block;
    position: relative;
    top: 24px;
    right: 50px;
}

.display {
    flex: auto;
    margin: 15px;
    overflow-y: auto;
}

.my-tasks {
    margin: 5px;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}

.task {
    background-color: #dbeafe;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 14fr 4fr 1fr 1fr;
    gap: 5px;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.task:hover {
    transform: scale(1.005);
    box-shadow: 0px 0px 7px 0px #000000;
}

.taskDone {
    opacity: 0.5;
}

.task-date {
    border: 0;
    border-bottom: 1px solid #bfdbfe;
    background-color: #dbeafe;
    font-size: 1.5rem;
}

.task-form form, #projectForm {
    background-color: #dbeafe;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 5px;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 12px;
}

#task-title, .tasks-title, #project-title {
    border: 0;
    border-bottom: 1px solid #bfdbfe;
    background-color: #dbeafe;
}

#task-title::placeholder, #project-title::placeholder {
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}

#task-description, .task-description {
    border: 0;
    border-bottom: 1px solid #bfdbfe;
    background-color: #dbeafe;
    width: 100%;
}

.task-desc input, .task-title input, input#project-title {
    height: 2rem;
    font-size: 1rem;
}

.task-desc input:focus, .task-title input:focus, input#project-title:focus {
    outline: none;
}

#task-description::placeholder {
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #bfdbfe;
    border-radius: 12px;
    background-color: #dbeafe;
}

input[type="date"]:focus {
    outline: none;
}

select {
    padding: 5px;
    border: 1px solid #bfdbfe;
    border-radius: 12px;
    background-color: #dbeafe;
}

select:focus {
    outline: none;
}

.cancel-save, #projectForm, .proj {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button#save, button#save-project {
    padding: 10px;
    border: 1px solid #bfdbfe;
    border-radius: 12px;
    background-color: #bfdbfe;
}

.cancel-task, .proj-cancel {
    background-image: url(../src/Resources/cancel_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
    justify-self: end;
    align-self: center;
}

.edit-task {
    background-image: url(../src/Resources/edit_note_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
    justify-self: end;
    align-self: center;
}

.del-task {
    background-image: url(../src/Resources/delete_forever_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
    justify-self: end;
    align-self: center;
}

.proj-del {
    background-image: url(../src/Resources/delete_sweep_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
    justify-self: end;
    align-self: center;
}

button.del-task, button.edit-task {
    border-radius: 50%;
    border: 0;
}

button#save:hover, .cancel-task:hover, .del-task:hover, .proj-cancel:hover, #save-project:hover, .proj-del:hover, .edit-task:hover {
    cursor: pointer;
}

.proj {
    transition: 1s;
}

.proj:has(.proj-del:hover) {
    background-color: #fee2e2;
    border-radius: 12px;
    padding: 0px 5px;
    box-shadow: 0px 0px 5px 0px #ff0000;
}

.task-form form:has(.cancel-task:hover), .task:has(.del-task:hover), #projectForm:has(.proj-cancel:hover) {
    background-color: #fee2e2;
    box-shadow: 0px 0px 5px 0px #ff0000;
}

.new-task {
    margin: 5px;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    width: fit-content;
}

.hidden {
    display: none;
}

.new-task:hover {
    transform: scale(1.2);
    transform-origin: left;
    cursor: pointer;
}